.portfolio {
  position: relative;
  background:#0c0c1d ;
  .progress {
      position: sticky;
      top: 0;
      left: 0;
      padding-top: 50px;
      text-align: center;
      color: #ffa500;
      font-size: 36px;
       
      z-index: 2;

      .progressBar {
          height: 10px;
          background-color: orange;
      }
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    height: 100%;
    cursor: pointer;
    
    .wrapper {
      width: 50%;
     height: 50%;
      margin-left: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 50px;
      border-radius: 10px;
      border: 2px solid orange;
      z-index: 1;
      
  
      .imgContainer {
        flex: 1;
        height: 82%;
        order: 2;
        
  
        img {
          width: 95%;
          height: 100%;
          object-fit: cover;
          border-radius: 50px;
          border: 2px solid black;
        }
      }
  
      .textContainer {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 30px;
        order: 1;
        color: white;
        justify-content: center; /* Dodane */
        align-items: center; /* Dodane */
  
        h2 {
          font-size: 50px;
          text-align: center;
        }
        
        button {
          text-align: center;
          padding: 10px;
          background-color: orange;
          border: none;
          cursor: pointer;
          margin: auto;
        }
      }
    }
  }
  
  }
